<main class="p-4">
    <div class="row">
        <section>
            {{> title data=name big=true}}
            <div>
                <ul>
                    <li class="pb-3">
                        <div>Born: {{birthdate}}</div>
                        <div><em>{{birthplace}}</em></div>
                    </li>
                    <li class="pb-3">
                        <div>Died: {{deathdate}}</div>
                        <div><em>{{deathplace}}</em></div>
                    </li>
                    <li class="pb-3">
                        <div>Nationality: {{nationality}}</div>
                    </li>
                    <li class="pb-3">
                        <div>Occupation: {{occupation}}</div>
                    </li>
                    <li>
                        <div class="mb-3">Known for: </div>
                        <ul>
                            {{#each known_for}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </li>
                </ul>
            </div>
        </section>

        <hr class="mt-3 mb-4">

        <section>
            {{> title data="Education"}}
            <div>
                <ul>
                    {{#each education}}
                    <li>
                        <div>Degree: {{degree}}</div>
                        <div>Field: {{field}}</div>
                        <div>Institution: {{institution}}</div>
                        <div>Year: {{year}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr class="mt-3 mb-4">

        <section>
            {{> title data="Notable publications"}}
            <div>
                <ol type="I">
                    {{#each notable_publications}}
                    <li>{{> bio}}</li>
                    {{/each}}
                </ol>
            </div>
        </section>

        <hr class="mb-4">

        <section>
            {{> title data="Partners"}}
            {{> partners}}
        </section>

        <hr class="mb-4">

        <section>
            {{> title data="Awards"}}
            <div>
                <ul>
                    {{#each awards}}
                    <li>{{> bio}}</li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr class="mb-4">

        <section>
            <div class="mb-5">
                {{> title data="Influences"}}
                <ol>
                    {{#each influences}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>

            <div>
                {{> title data="Influenced"}}
                <ol>
                    {{#each influenced}}
                    <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        </section>

        <hr class="mt-3 mb-4">

        <section>
            {{> title data="Quotes"}}
            <div>
                <ul type="square">
                    {{#each quotes}}
                    <li>
                        <p><em>"{{this}}"</em></p>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr class="mt-3 mb-4">

        <section>
            {{> title data="Major discoveries"}}
            <div>
                <ul>
                    {{#each major_discoveries}}
                    <li>{{> bio}}</li>
                    {{/each}}
                </ul>
            </div>
        </section>

        <hr class="mb-4">

        <section>
            {{> title data="Contributions"}}
            <div>
                <ul>
                    {{#with contributions}}
                    <li>{{> bio}}</li>
                    {{/with}}
                </ul>
            </div>
        </section>
    </div>
</main>