<main class="p-4">
    <div class="row">
        <section>
            {{> title data=name big=true}}
            <div class="mb-3">
                <em>{{description}}</em>
            </div>
            <div class="mb-2 small">
                Created in {{history.year}}
            </div>
            <div class="small">
                Founder: {{history.founder}}
            </div>
        </section>

        <hr class="my-4">

        <section>
            <h5 class="mb-3">Types:</h5>
            <ul>
                {{#each types}}
                <li class="pb-2">
                    <span class="badge text-bg-success">{{this}}</span>
                </li>
                {{/each}}
            </ul>
        </section>

        <hr class="mt-2 mb-4">

        <section>
            <h5 class="mb-3">Syntax:</h5>
            {{#with syntax}}
            <ol>
                <li class="pb-3">
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Variables
                        </a>
                    </p>
                    {{> syntax data=variables}}
                </li>

                <li class="pb-3">
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Functions
                        </a>
                    </p>
                    {{> syntax data=functions}}
                </li>

                <li class="pb-3">
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Conditionals
                        </a>
                    </p>
                    {{> syntax data=conditionals}}
                </li>

                <li class="pb-3">
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Loops
                        </a>
                    </p>
                    {{> syntax data=loops}}
                </li>

                <li>
                    <p>
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                            aria-expanded="false" aria-controls="collapseExample">
                            Classes
                        </a>
                    </p>
                    {{> syntax data=classes}}
                </li>
            </ol>
            {{/with}}
        </section>

        <hr class="my-4">

        <section>
            <h5 class="mb-3">Features:</h5>
            <ul class="list-group">
                {{#each features}}
                <li class="list-group-item list-group-item-action">{{this}}</li>
                {{/each}}
            </ul>
        </section>

        <hr class="my-4">

        <section>
            <h5 class="mb-3">Libraries:</h5>
            <ul class="list-group list-group-horizontal">
                {{#each libraries}}
                <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
        </section>

        <hr class="my-4">

        <section>
            <h5 class="mb-3">Tools:</h5>
            <ul class="list-group list-group-horizontal">
                {{#each tools}}
                <li class="list-group-item list-group-item-primary">{{this}}</li>
                {{/each}}
            </ul>
        </section>

        <hr class="my-4">

        <section>
            <h5 class="mb-3">Community:</h5>
            <ul class="nav flex-column">
                {{#each community}}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" target="_blank">{{name}} - {{type}}</a>
                </li>
                {{/each}}
            </ul>
        </section>
    </div>
</main>