<main class="p-4">
    <div class="row">
        {{#with person}}
        <section class="mb-3">
            {{> title data=name big=true}}
            <ul>
                <li class="pb-3">Age: {{age}};</li>
                <li class="pb-3">Gender: {{gender}};</li>
                <li>
                    Address:
                    {{#with address}}
                    <em>
                        {{street}}, {{city}}, {{state}}, {{zip}}, {{country}}.
                    </em>
                    {{/with}}
                </li>
            </ul>
        </section>

        <hr>

        <section class="my-3">
            {{> title data="Education"}}
            <ul>
                {{#each education}}
                <li>
                    <div class="mb-3">University: {{university}},</div>
                    <div class="mb-3">Major: {{major}},</div>
                    <div class="mb-3">Degree: {{degree}},</div>
                    <div>
                        Graduation:
                        {{#if graduationYear}}
                        {{graduationYear}}.
                        {{else}}
                        <b>still studying</b>.
                        {{/if}}
                    </div>
                </li>
                {{/each}}
            </ul>
        </section>

        <hr>

        <section class="mt-3">
            {{> title data="Work Experience"}}
            <div>
                <ul>
                    {{#each workExperience}}
                    <li>
                        <div class="mb-3">Position: {{title}},</div>
                        <div class="mb-3">Company: {{company}},</div>
                        <div class="mb-3">
                            <em>
                                {{startDate}} -
                                {{#if endDate}}
                                {{endDate}}.
                                {{else}}
                                still working.
                                {{/if}}
                            </em>
                        </div>

                        <div class="mb-5">
                            Responsibilities:
                            <p><i>{{responsibilities}}</i></p>
                        </div>

                        <div class="mb-3">
                            Foundation date: {{year_founded}},
                        </div>

                        <div class="mb-3">
                            Industry: {{industry}}.
                        </div>

                        <div class="mb-3">
                            <div class="mb-3">Employees:</div>

                            <ol>
                                {{#each employees}}
                                <li>
                                    {{> members data=position}}

                                    <div class="mb-3">
                                        <strong>Projects:</strong>
                                    </div>

                                    <ul>
                                        <li>
                                            {{#each projects}}
                                            {{> projects}}

                                            <div class="my-3">Teams:</div>

                                            <div>
                                                <ul>
                                                    {{#each teams}}
                                                    <li>
                                                        <div class="mb-3">"{{team_name}}"</div>

                                                        <div class="mb-3">Members:</div>

                                                        <ol>
                                                            {{#with team_leader}}
                                                            <li class="pb-4">
                                                                {{> members data=title}}
                                                            </li>
                                                            {{/with}}

                                                            {{#each team_members}}
                                                            <li class="pb-3">
                                                                {{> members data=title}}

                                                                <div>Skills:</div>

                                                                <div class="mb-3">
                                                                    <ul>
                                                                        {{#each skills}}
                                                                        <li>{{this}}</li>
                                                                        {{/each}}
                                                                    </ul>
                                                                </div>

                                                                <div>Projects:</div>

                                                                <div>
                                                                    <ul>
                                                                        <li>
                                                                            {{#each projects}}
                                                                            {{> projects}}

                                                                            <div class="my-3">Team members:</div>

                                                                            <div>
                                                                                <ol>
                                                                                    {{#each team_members}}
                                                                                    <li>
                                                                                        {{> members data=title}}
                                                                                    </li>
                                                                                    {{/each}}
                                                                                </ol>
                                                                            </div>
                                                                            {{/each}}
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                            {{/each}}
                                                        </ol>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                            {{/each}}
                                        </li>
                                    </ul>
                                </li>
                                {{/each}}
                            </ol>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        {{/with}}
    </div>
</main>