<main class="p-4">
    <div class="row">
        {{#with program.excursion}}
        <section>
            {{> title data=name big=true}}
            <div class="mb-2">
                Location:
                {{location.city}}, {{location.country}}
            </div>
            <div>Date: {{date}}</div>
        </section>

        <hr class="my-4">

        <section>
            {{> title data="Program"}}
            <ol>
                {{#each program}}
                <li>
                    <div class="mb-2">
                        {{name}} - <b>{{type}}</b>
                    </div>
                    <div class="mb-2">Duration: {{duration}} hours</div>

                    {{#with details}}
                    {{> place data=museum}}
                    {{> place data=venue}}

                    {{#if performers}}
                    <div class="mb-3">
                        <ul>
                            <li>
                                <div class="mb-2">Performers:</div>
                                <ul>
                                    {{#each performers}}
                                    <li class="mb-2">
                                        {{name}} - <b>{{type}}</b>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                    </div>
                    {{else}}
                    {{/if}}

                    {{> guide}}
                    {{/with}}
                </li>
                {{/each}}
            </ol>
        </section>
        {{/with}}
    </div>
</main>