<main class="p-4">
    <div class="row">
        <section>
            {{#with navigation}}
            <div class="card">
                <ul class="nav">
                    {{#each links}}
                    <li class="nav-item py-2">
                        <a class="nav-link" href="{{href}}">{{text}}</a>
                    </li>
                    {{/each}}
                    <li class="nav-item py-2">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
            {{/with}}
        </section>

        <section>
            {{#with newsBlock}}
            <h3 class="text-center mt-5 mb-3">{{title}}</h3>

            <div class="row">
                {{#each cards}}
                <div class="col-3 gx-3 my-2">
                    <div class="card text-bg-dark">
                        <div class="card-header">
                            {{title}}
                            {{#if isTop}}
                            <span class="badge rounded-pill text-bg-success">Нова</span>
                            {{else}}
                            {{/if}}

                            {{#if isNew}}
                            <span class="badge rounded-pill text-bg-danger">Топ</span>
                            {{else}}
                            {{/if}}
                        </div>
                        <div class="card-body pt-1">
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr class="mt-5 mb-5">

        <section>
            {{#with goodsBlock}}
            <div class="row mb-4">
                <ul class="nav nav-tabs">
                    {{#each tabs}}
                    {{#if isActive}}
                    <a class="nav-link active text-center" href="#">{{text}}</a>
                    {{else}}
                    {{#if isDisabled}}
                    <a class="nav-link text-center disabled">{{text}}</a>
                    {{else}}
                    <a class="nav-link text-center" href="#">{{text}}</a>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>

            <div class="row">
                {{#each cards}}
                <div class="col-4 gx-2 my-3">
                    <div class="card">
                        <img src="{{image}}" class="card-img-top" alt="{{title}}">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{title}}
                                {{#if isHot}}
                                <span class="badge rounded-pill text-bg-warning text-white">HOT!</span>
                                {{else}}
                                {{/if}}

                                {{#if isNew}}
                                <span class="badge rounded-pill text-bg-primary">Нове</span>
                                {{else}}
                                {{/if}}
                            </h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr class="mt-5 mb-5">

        <section>
            {{> sub data=subscribe}}
        </section>

        <hr class="mt-5 mb-5">

        <section>
            {{#with service}}
            <div class="card text-bg-success">
                <div class="card-body text-center ps-2 pt-1 pb-0">
                    <h2 class="card-title">{{title}}</h2>
                    <p>{{description}}</p>
                    {{#each buttons}}
                    <div class="pb-2">
                        <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </section>

        {{> footlink}}
    </div>
</main>