<main class="p-4">
    <div class="row">
        {{> headlink}}

        <h1 class="mt-5 mb-5">{{header}}</h1>

        <section class="col-8">
            <div class="row">
                {{#with contacts_data}}
                <div class="pe-1 pd-1">
                    <h3 class="mb-3">{{title}}</h3>
                    {{#each buttons}}
                    {{#if isPrimary}}
                    <button class="btn btn-warning text-white me-2">{{text}}</button>
                    {{else}}
                    {{#if isOutline}}
                    <button class="btn btn-outline-warning">{{text}}</button>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>

                {{#with form}}
                {{#with input}}
                <div class="col-6 my-3 pe-1">
                    {{> fields data=surname}}
                    {{> fields data=phone}}
                </div>

                <div class="col-6 my-3 ps-2 pe-1">
                    {{> fields data=name}}
                    {{> fields data=email}}
                </div>
                {{/with}}

                <div class="px-1">
                    <hr>
                </div>

                <div>
                    {{#each switch}}
                    <div class="form-check form-switch py-3">
                        <label class="form-check-label">{{text}}</label>
                        {{#if isActive includeZero=true}}
                        <input type="checkbox" class="form-check-input" checked>
                        {{else}}
                        <input type="checkbox" class="form-check-input" disabled>
                        {{/if}}
                    </div>
                    {{/each}}
                </div>
                {{/with}}
                {{/with}}

                <div class="px-1">
                    <hr>
                </div>

                {{#with delivery}}
                <h3 class="my-3">{{title}}</h3>
                <div class="card py-2 px-3">
                    <div class="row gx-3">
                        <div class="col-6">
                            <label class="form-label">{{select.[0].label}}</label>
                            <select class="form-select">
                                <option selected>{{select.[0].placeholder}}</option>
                                {{#each select.[0].options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="col-6">
                            <label class="form-label">{{select.[1].label}}</label>
                            <select class="form-select">
                                <option selected>{{select.[1].placeholder}}</option>
                                {{#each select.[1].options}}
                                <option value="{{value}}">{{text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="my-3">
                    {{#each delivery_type}}
                    <div class="form-check py-1">
                        <label class="form-check-label">{{type}}</label>
                        <input name="type" type="radio" class="form-check-input">
                    </div>
                    {{/each}}
                </div>

                <div>
                    <hr>
                </div>

                {{#with payment}}
                <h3 class="mt-3">{{title}}</h3>
                <div class="my-2">
                    {{#each list}}
                    <div class="form-check pt-2">
                        <label class="form-check-label">{{type}}</label>
                        <input name="type" type="radio" class="form-check-input">
                    </div>
                    {{#if description}}
                    <div class="form-text">{{description}}</div>
                    {{else}}
                    {{/if}}

                    {{/each}}
                </div>
                {{/with}}

                <div>
                    <hr>
                </div>

                {{#with contact}}
                <h3 class="mt-3">{{title}}</h3>
                <div class="col-6 my-3 pe-1">
                    {{> fields data=surname}}
                    {{> fields data=phone}}
                </div>

                <div class="col-6 my-3 ps-2 pe-1">
                    {{> fields data=name}}
                    {{> fields data=email}}
                </div>
                {{/with}}

                <div>
                    <hr>
                </div>

                <div class="my-3">
                    <label class="form-label">{{coment.label}}</label>
                    <input class="form-control" placeholder="{{coment.placeholder}}">
                </div>
                {{/with}}

                <div>
                    <hr>
                </div>

                {{#with coupon}}
                <h3 class="my-3">{{title}}</h3>
                <div class="mb-3">
                    {{#with select.availabel_coupon}}
                    <label class="form-label">{{label}}</label>
                    <select class="form-select form-select-lg">
                        <option selected>{{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                    {{/with}}
                </div>

                <div class="mb-3">
                    {{#with select.friend_coupon}}
                    <label class="form-label">{{label}}</label>
                    <select class="form-select form-select-sm">
                        <option selected>{{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                    {{/with}}
                </div>

                <div class="mb-3">
                    {{#with add.friend}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control form-control-lg" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>

                <div class="mb-3">
                    {{#with add.colleague}}
                    <label class="form-label">{{label}}</label>
                    <input class="form-control" placeholder="{{placeholder}}">
                    <div class="form-text">{{caption}}</div>
                    {{/with}}
                </div>
                {{/with}}

                <div>
                    <hr>
                </div>

                {{#with quiz}}
                <h3 class="my-3">{{title}}</h3>
                <div class="mt-1">
                    {{#with preference}}
                    <div class="mb-2">{{title}}</div>
                    {{#each options}}
                    <div class="form-check py-1">
                        <label class="form-check-label">{{this}}</label>
                        <input type="radio" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                </div>

                <div class="mt-3">
                    <label class="form-label">{{your_expirience.label}}</label>
                    <input class="form-control">
                </div>

                <div class="mt-3">
                    {{#with purchase_frequency}}
                    <label class="form-label">{{label}}</label>
                    <select class="form-select">
                        <option selected>{{placeholder}}</option>
                        {{#each options}}
                        <option value="{{value}}">{{text}}</option>
                        {{/each}}
                    </select>
                    {{/with}}
                </div>

                <div class="mt-3">
                    {{#with factors}}
                    <div class="mb-2">{{title}}</div>
                    {{#each options}}
                    <div class="form-check py-1">
                        <label class="form-check-label">{{this}}</label>
                        <input type="checkbox" class="form-check-input">
                    </div>
                    {{/each}}
                    {{/with}}
                </div>
                {{/with}}
            </div>
        </section>

        <section class="col-4">
            <div class="card py-3 px-2">
                {{#each action_block}}
                {{#if isSuccess includeZero=true}}
                <div>
                    <button class="btn btn-success mb-2">{{text}}</button>
                </div>
                {{else}}
                {{#if isDanger includeZero=true}}
                <div>
                    <button class="btn btn-danger mb-2">{{text}}</button>
                </div>
                {{else}}
                {{#if isInfo includeZero=true}}
                <div>
                    <button class="btn btn-info">{{text}}</button>
                </div>
                {{/if}}
                {{/if}}
                {{/if}}
                {{/each}}
            </div>

            <div class="card mt-3 py-3 px-2">
                {{#with total}}
                <h4>{{title}}</h4>

                {{#each item_list}}
                <div class="pt-1">
                    {{name}}: {{price}}
                </div>
                {{/each}}

                <div>
                    <hr>
                </div>

                {{#each additional_info}}
                <div class="pt-1">
                    {{text}}: {{value}}
                </div>
                {{/each}}

                <div>
                    <hr>
                </div>

                {{#with total_price}}
                <div class="pt-1">
                    {{text}}: {{value}}
                </div>
                {{/with}}

                <div>
                    <hr>
                </div>

                <div>
                    {{#each button}}
                    {{#if isPrimary}}
                    <button class="btn btn-primary text-white mb-2">{{text}}</button>
                    {{else}}
                    {{#if isOutline}}
                    <button class="btn btn-outline-primary">{{text}}</button>
                    {{/if}}
                    {{/if}}
                    {{/each}}
                </div>
                {{/with}}
            </div>
        </section>

        <hr class="mt-5 mb-3">
        {{> footlink}}
    </div>
</main>