<div>
    <main>
        <section>
            {{#with page_header}}
            <h1 class="text-center">{{title}}</h1>
            <p class="text-center text-uppercase">
                {{description}}
            </p>
            {{/with}}
        </section>

        {{#with section}}
        <section>
            <div class="card">
                {{#with about_us}}
                <div class="card-body">
                    <div class="display-6 text-end">{{title_list.main}}</div>
                    <br>
                    <h2 class="text-end">{{title_list.sub}}</h2>
                    <br>
                    <button type="button" class="btn btn-outline-info">{{button.text}}</button>
                </div>
                {{/with}}
            </div>
        </section>

        <section>
            {{#with advantage}}
            <div class="card">
                <div class="card-body">
                    <div class="display-5">{{title}}</div>
                    <br>
                    <div class="card">
                        {{#with efficiency}}
                        <div class="card-body">
                            <div class="display-4">{{title}}</div>
                            <br>
                            <h6>{{sub_title}}</h6>
                            <br>
                            <p class="card-text">{{description}}</p>
                            <br>
                            <button type="button" class="btn btn-outline-warning">{{button}}</button>
                        </div>
                        {{/with}}
                    </div>

                    <br>

                    <div class="card">
                        {{#with innovation}}
                        <div class="card-body">
                            <div class="display-4 text-center">{{title}}</div>
                            <br>
                            <h6 class="text-center">{{sub_title}}</h6>
                            <br>
                            <p class="card-text text-center">{{description}}</p>
                            <br>
                            <button type="button" class="btn btn-outline-warning">{{button}}</button>
                        </div>
                        {{/with}}
                    </div>

                    <br>

                    <div class="card">
                        {{#with collaboration}}
                        <div class="card-body">
                            <div class="display-4 text-end">{{title}}</div>
                            <br>
                            <h6 class="text-end">{{sub_title}}</h6>
                            <br>
                            <p class="card-text text-end">{{description}}</p>
                            <br>
                            <button type="button" class="btn btn-outline-warning">{{button}}</button>
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
        </section>

        <section>
            {{#with agreement}}
            <div class="card">
                <div class="card-body">
                    <div class="display-5">{{title}}</div>
                    <br>
                    <div class="card">
                        {{#with info}}
                        <div class="card-body">
                            <h5>{{sub_title}}</h5>
                            <br>
                            <div class="card">
                                {{#with detail}}
                                <div class="card-body">
                                    <p class="card-text">{{text}}</p>
                                    <br>
                                    <button type="button" class="btn btn-success">{{button}}</button>
                                </div>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            {{/with}}
        </section>
        {{/with}}
    </main>
</div>