<main class="p-4">
    <div class="row">
        <section>
            {{#with navigation}}
            <div class="mb-2">
                {{#each links}}
                <a href="{{href}}" class="btn btn-link col-2">{{text}}</a>
                {{/each}}
                <a class="btn btn-primary col-2" href="{{button.href}}" role="button">{{button.text}}</a>
                {{/with}}
            </div>
        </section>

        <hr class="mt-2 mb-4">

        <section>
            {{#with header}}
            <h1 class="mb-4">{{title}}</h1>
            <p>{{description}}</p>
            <div>
                <a class="btn btn-primary" href="{{button.link}}" role="button">{{button.text}}</a>
            </div>
            {{/with}}
        </section>

        <hr class="my-4">

        <section>
            {{#with city}}
            <h2 class="mb-5">{{title}}</h2>
            <div class="row gy-4 gx-3">
                {{#each cards}}
                <div class="col-5">
                    <div class="card">
                        <img src="{{picture.src}}" class="card-img-top" alt="{{picture.alt}}">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr class="my-4">

        <section>
            {{#with winner}}
            <h2 class="mb-4">{{title}}</h2>
            <table class="table">
                {{#with table}}
                <thead>
                    <tr>
                        {{#each head}}
                        <th>
                            {{this}}
                        </th>
                        {{/each}}
                    </tr>
                </thead>

                <tbody>
                    {{#each user}}
                    <tr>
                        <td>{{place}}</td>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{nickname}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                {{/with}}
            </table>
            {{/with}}
        </section>

        <hr class="my-4">

        <section>
            {{#with gallery}}
            <h2 class="mb-4">{{title}}</h2>
            <div class="row gx-1">
                {{#each cards}}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header bg-secondary">
                            {{name}}
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each items}}
                            <li class="list-group-item">{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr class="my-4">

        <section>
            {{#with relaxion}}
            <div class="display-3 mb-5">{{title}}</div>
            <div class="row gy-4 gx-2">
                {{#each cards}}
                <div class="col-5">
                    <div class="card text-bg-dark">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr class="my-4">

        <section>
            <div class="row gx-2">
                {{#with rest}}
                {{#each cards}}
                <div class="col-6">
                    <div class="card text-center">
                        <div class="card-header">
                            {{header}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <button type="button" class="btn btn-primary">{{button}}</button>
                        </div>
                        <div class="card-footer text-body-secondary">
                            {{footer}}
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </section>

        <hr class="my-4">

        <section>
            {{#with proposition}}
            <div class="display-2 mb-5">{{title}}</div>
            <div class="row gx-2">
                {{#each card}}
                <div class="col-5">
                    <div class="card text-bg-warning text-light">
                        <div class="card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr class="my-4">

        <section>
            {{#with footer}}
            <h5 class="mb-4">{{title}}</h5>
            <div class="row">
                <div class="col-3 list-group ps-2">
                    {{#each navigation}}
                    <div class="mb-3">
                        <a class="btn btn-primary" href="{{href}}" role="button">{{text}}</a>
                    </div>
                    {{/each}}
                </div>

                <div class="col-3 list-group">
                    {{#each socialMedia}}
                    <div class="mb-3">
                        <a class="btn btn-outline-dark" href="{{link}}" role="button">{{name}}</a>
                    </div>
                    {{/each}}
                </div>

                <div class="col-6 list-group">
                    {{#each partners}}
                    <div class="mb-3">
                        <a class="btn btn-outline-info" href="{{link}}" role="button">{{name}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </section>
    </div>
</main>