<main class="p-4">
    <div class="row">
        <section>
            <div class="card">
                {{#with heading}}
                <div class="card-body">
                    <div class="card mb-4">
                        {{#with main}}
                        <div class="card-body">
                            <h1 class="card-title">{{title}}</h1>
                            <p class="card-text">{{text}}</p>
                            <div class="mb-4">
                                <a href="#" class="btn btn-primary">{{button_text.solid}}</a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-primary">
                                    {{button_text.outline}}
                                </button>
                            </div>
                        </div>
                        {{/with}}
                    </div>

                    <div class="card mb-4">
                        {{#with second}}
                        <div class="card-body">
                            <h2 class="card-title">{{title}}</h2>
                            <p class="card-text">{{text}}</p>
                            <div class="mb-4">
                                <a href="#" class="btn btn-secondary">{{button_text.solid}}</a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-secondary">
                                    {{button_text.outline}}
                                </button>
                            </div>
                        </div>
                        {{/with}}
                    </div>

                    <div class="card mb-4">
                        {{#with subblock}}
                        <div class="card-body">
                            <h3 class="card-title">{{title}}</h3>
                            <p class="card-text">{{text}}</p>
                            <div class="mb-4">
                                <a href="#" class="btn btn-dark">{{button_text.solid}}</a>
                            </div>
                            <div>
                                <button type="button" class="btn btn-outline-dark">
                                    {{button_text.outline}}
                                </button>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
            </div>
        </section>

        <section>
            <div class="card">
                {{#with nested_display}}
                <div class="card-body">
                    <div class="display-1 mb-3">{{title}}</div>
                    <div class="card">
                        {{#with children_display}}
                        <div class="card-body">
                            <div class="display-4 mb-3">{{title}}</div>
                            <p class="card-text">{{text}}</p>
                            <div>
                                <a href="#" class="btn btn-outline-warning">{{button.text}}</a>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                    <div class="display-6 my-4">{{header_text}}</div>
                    <div>
                        <a href="#" class="btn btn-info">{{button.text}}</a>
                    </div>
                    {{/with}}
                </div>
        </section>


        <section>
            <div class="card">
                {{#with paragraph}}
                <div class="card-body">
                    <p class="text-uppercase mb-4">{{title}}</p>
                    <p class="text-lowercase mb-4">{{text}}</p>
                    <div class="mb-4">
                        <a href="{{button.url}}" class="btn btn-link">{{button.text}}</a>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <ul>
                                {{#each list_name}}
                                <li>
                                    <a href="{{url}}" class="btn btn-link">{{text}}</a>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
        </section>
    </div>
</main>