<main class="p-4">
    <div class="row">
        <section>
            {{#with page_header}}
            <h1 class="text-center">{{title}}</h1>
            <p class="text-center text-uppercase">
                {{description}}
            </p>
            {{/with}}
        </section>

        {{#with section}}
        <section>
            <div class="card">
                {{#with about_us}}
                <div class="card-body">
                    <div class="display-6 text-end mb-3">{{title_list.main}}</div>
                    <h2 class="text-end mb-4">{{title_list.sub}}</h2>
                    <div>
                        <button type="button" class="btn btn-outline-info">{{button.text}}</button>
                    </div>
                </div>
                {{/with}}
            </div>
        </section>

        <section>
            {{#with advantage}}
            <div class="card">
                <div class="card-body">
                    <div class="display-5 mb-4">{{title}}</div>
                    <div class="card mb-4">
                        {{#with efficiency}}
                        <div class="card-body">
                            <div class="display-4 mb-4">{{title}}</div>
                            <h6 class="mb-4">{{sub_title}}</h6>
                            <p class="card-text mb-4">{{description}}</p>
                            <div>
                                <button type="button" class="btn btn-outline-warning">{{button}}</button>
                            </div>
                        </div>
                        {{/with}}
                    </div>

                    <div class="card mb-4">
                        {{#with innovation}}
                        <div class="card-body">
                            <div class="display-4 text-center mb-4">{{title}}</div>
                            <h6 class="text-center mb-4">{{sub_title}}</h6>
                            <p class="card-text text-center mb-4">{{description}}</p>
                            <div>
                                <button type="button" class="btn btn-outline-warning">{{button}}</button>
                            </div>
                        </div>
                        {{/with}}
                    </div>

                    <div class="card">
                        {{#with collaboration}}
                        <div class="card-body">
                            <div class="display-4 text-end mb-4">{{title}}</div>
                            <h6 class="text-end mb-4">{{sub_title}}</h6>
                            <p class="card-text text-end mb-4">{{description}}</p>
                            <div>
                                <button type="button" class="btn btn-outline-warning">{{button}}</button>
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{/with}}
        </section>

        <section>
            {{#with agreement}}
            <div class="card">
                <div class="card-body">
                    <div class="display-5 mb-4">{{title}}</div>
                    <div class="card">
                        {{#with info}}
                        <div class="card-body">
                            <h5 class="mb-4">{{sub_title}}</h5>
                            <div class="card">
                                {{#with detail}}
                                <div class="card-body">
                                    <p class="card-text mb-4">{{text}}</p>
                                    <div>
                                        <button type="button" class="btn btn-success">{{button}}</button>
                                    </div>
                                </div>
                                {{/with}}
                            </div>
                        </div>
                        {{/with}}
                    </div>
                </div>
            </div>
            {{/with}}
        </section>
        {{/with}}
    </div>
</main>