<main class="p-4">
    <div class="row">
        {{#with web}}
        <section>
            {{> title data="Programming languages" big=true}}
            {{#each languages}}
            <div>
                {{> title data=name}}
                Version: {{version}}
                <p><em>{{description}}</em></p>
            </div>

            {{#if elements}}
            <div>
                <div class="mb-3">Elements:</div>
                <ol>
                    {{#each elements}}
                    <li class="pb-3">
                        <strong>{{name}} - </strong>
                        <em>{{description}}</em>

                        <div class="my-3">Attributes:</div>
                        <ul>
                            {{#each attributes}}
                            <li class="pb-3">
                                <b>{{name}} - </b>
                                <em>{{description}}</em>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <hr>
            {{else}}
            {{/if}}

            {{#if properties}}
            <div>
                <div class="my-3">Properties:</div>
                <ol>
                    {{#each properties}}
                    <li class="pb-3">
                        <strong>{{name}} - </strong>
                        <em>{{description}}</em>

                        <div class="my-3">Values:</div>
                        <ul>
                            {{#each values}}
                            <li class="pb-3">
                                <b>{{value}} - </b>
                                <em>{{description}}</em>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <hr>
            {{else}}
            {{/if}}

            {{#if functions}}
            <div>
                <div class="my-3">Functions:</div>
                <ol>
                    {{#each functions}}
                    <li class="pb-4">
                        <strong>{{name}} - </strong>
                        <em>{{description}}</em>

                        <div class="my-3">Parameters:</div>
                        <ul>
                            {{#each parameters}}
                            <li class="pb-3">
                                <b>{{name}} - </b>
                                <em>{{description}}</em>
                                Type: {{type}}
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    {{/each}}
                </ol>
            </div>
            {{else}}
            {{/if}}
            {{/each}}
        </section>
        {{/with}}
    </div>
</main>