{{#each data}}
<div class="card mb-4">
    <div class="row">
        <div class="col-2 my-2 ms-2 pe-1">
            <img src="{{image}}" class="img-fluid rounded-start" alt="{{name}}">
        </div>
        <div class="col-4 mt-3 ms-1 mx-1 ps-1">
            <h5>{{name}}</h5>
            <div class="small">{{description}}</div>
        </div>
        <div class="col-2 mt-4 mx-1 ms-2 pt-2">
            {{price.title}}:
            <h5 class="mt-2">
                {{price.value}}
            </h5>
        </div>
        <div class="col-2 mt-5 px-1">
            {{amount}}
        </div>
        <div class="col-1 mt-3 px-1">
            {{#each buttons}}
            {{#if isPrimary}}
            <button class="btn btn-primary mb-3">{{text}}</button>
            {{else}}
            {{#if isDanger}}
            <button class="btn btn-outline-danger">{{text}}</button>
            {{/if}}
            {{/if}}
            {{/each}}
        </div>
    </div>
</div>
{{/each}}