<div>
    <ul>
        {{#with data}}
        <li>
            <div class="mb-2">Location:</div>
            <div>
                "{{name}}"
            </div>
            {{#with location}}
            <div class="mb-3">
                <em>{{address}}, {{city}}, {{country}}</em>
            </div>
            {{/with}}
        </li>

        {{#if exhibits}}
        <li>{{> exhibits}}</li>
        {{else}}
        {{/if}}

        {{/with}}
    </ul>
</div>