<div class="row">
    <div class="col-4 pe-1">
        <div class="small mb-3">{{number}}</div>
        <h6>{{status}}</h6>
    </div>

    <div class="col-2 px-1">
        {{amount.title}}:
        <h5 class="mt-2">
            {{amount.value}}
        </h5>
    </div>

    <div class="col-4 px-1">
        {{#each images}}
        <img src="{{this}}" class="img-fluid rounded-start col-3">
        {{/each}}
    </div>

    <div class="col-2 px-1 pt-2">
        {{#with button}}
        {{#if isPrimary includeZero=true}}
        <a class="btn btn-primary" href="{{link}}">{{text}}</a>
        {{else}}
        {{/if}}
        {{/with}}
    </div>
</div>