<ul class="nav flex-column">
    {{#each data}}
    <li class="nav-item">
        {{#if @last}}
        <a class="nav-link disabled" href="{{link}}">{{text}}</a>
        {{else}}
        <a class="nav-link" href="{{link}}">{{text}}</a>
        {{/if}}
    </li>
    {{/each}}
</ul>